/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* GENERAL */
body {
  font-family: 'Noto Sans', sans-serif;
}
.wrapper {
  width: 100%;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container.movies-results,
.container.tv-series-results {
  flex-direction: row;
}
/* ======================== */
/* ======= HEADER ========= */
header {
  padding:10px 0;
  background-color: #191919;
}
header .logo {
 width: 150px;
 vertical-align: middle;
}
header .logo img {
  width:  100%;
}
header .saerch {
  line-height: 50px;
  vertical-align: middle;
}
input.search-movie {
  padding: 5px 10px;
  background: #fff;
  box-shadow: none;
  width: 200px;
  border: 1px solid #191919;
  border-radius: 5px;
  margin: 0 15px;
  transition: .3s;
}
input.search-movie:focus {
  border: 1px solid #dc1a28;
  width: 250px;
  box-shadow: 0px 0px 8px 1px #dc1a28;
}
.saerch button {
  padding: 6px 12px;
  background: #dc1a28;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
.saerch button:hover {
  background: #ff4654;
}


/* ======================== */
/* ======== MAIN ========== */
main {
  background-color: #535d65;
  min-height: calc(100vh - 112.7px);
  padding-bottom: 20px;
  position: relative;
}
.show-results {
padding:20px 0;
}
.show-results .no-results-message {
  padding: 20px 0;
  text-align: center;
  font-size: 1.4em;
  color: #fff;
}
.movies,
.tv-series {
  max-width: 1170px;
  margin: 0 auto 20px;
}
.show-results p.risultati {
   color: #fff;
   font-size: 1.5em;
   padding: 10px 0;
   margin: 0 20px;
   border-bottom: 1px solid #fff;
 }
.error-message {
  position: absolute;
  top: 30%;
  left:50%;
  transform: translate(-50%, -50%);
  color: lightgrey;
  text-align: center;
  width: 100%;
}
.error-message i {
  display: block;
  color: #dc1a28;
  font-size: 4em;
  text-shadow: 0px 0px 10px #04040457;
}
.error-message p.first-msg {
  font-size: 1.4em;
  letter-spacing: 2px;
}
.error-message p.second-msg {
  font-size: 1em;

}


/* MOVIE CONTAINER */
.movie-container {
  flex-basis: 250px;
  margin: 20px;
  height:350px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.movie-container .front-side {
  transform: rotateY(0deg);
  transition: .2s ease-in .2s;
}
.front-side img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}
.movie-container .data-content {
  position: absolute;
  top: 0;
  color: #fff;
  background: #000000d7;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: rotateY(-90deg);
  transition: .2s ease-in .1s;
  font-size: .9em;
  line-height: 1.5em;
}
.movie-container .front-side.active {
  transform: rotateY(90deg);
  transition: .2s ease-in-out;
}
.movie-container .data-content.active {
  transform: rotateY(0deg);
  /* transition: .2s ease-in-out .2s */
}
.data-content h2 {
  color: #dc1a28;
  letter-spacing: 1px;
  font-size: 1.6em;
}
.data-content h4 {
  color: #ccc;
}
.data-content .overview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.movie-container img.original-language {
  display: inline-block;
  width: 26px;
  height: 16px;
  border-radius: 0;
  vertical-align: middle;
}
.movie-container .voto i {
  color: #f3c533;
}
.wrapper .hidden {
  display: none;
}

/* MEDIA QUERY */
/* 480px */
@media all and (min-width:480px) {
  .movie-container {
    flex-basis: 250px;
    margin: 20px;
    height:350px;
  }
  .front-side img {
    height: 350px;
  }
}

/* 768px */
@media all and (min-width:768px) {

}
/* 960px */
@media all and (min-width:960px) {
  main {
    min-height: calc(100vh - 70px);
  }
  .container {
    justify-content: space-between;
    flex-direction: row;
  }
  .movie-container {
    margin: 20px 0;
  }
  .saerch button {
    display: inline-block;
  }
  .show-results p.risultati {
     margin: 0;
   }
}
