/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* GENERAL */
body {
  font-family: 'Noto Sans', sans-serif;
}
.wrapper {
  width: 100%;
  min-height: 500px;
}
.container {
  max-width: 1170px;
  margin: 0 auto
}
header {
  padding:10px 0;
  background-color: #191919;
}
header .logo {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}
header .logo img {
  width:  100%;
}
header .saerch {
  display: inline-block;
}
main {
  background-color: #505050;
}
.show-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -10px;
}
.show-results .error-message {
  color: red;
}

/* MOVIE CONTAINER */
.movie-container {
  flex-basis: 100%;
  padding-bottom: 15px;
  margin: 20px 10px;
  min-height: 250px;
  box-shadow: 2px 2px 8px 2px #02020285;
  text-align: center;
  border-radius: 10px;
  background-color: #fbfeff;
  cursor: pointer;
}
.movie-container h2 {
  min-height: 70px;
}
.movie-container div {
  line-height: 40px;
}
.movie-container img {
  width: 100%;
  /* height: 350px; */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.movie-container .overview {
  line-height: 25px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.movie-container img.original-language {
  display: inline-block;
  width: 30px;
  height: 20px;
  border-radius: 0;
  vertical-align: middle;
}
.movie-container .voto i {
  color: #f3c533;
}
.wrapper .select-container  {
  text-align: center;
}
.wrapper .hidden {
  display: none;
}

.movie-container:hover img.poster {
  display: none;
}

.movie-container .data-content {
  display: none;
}

.movie-container:hover .data-content{
  display: block;
}

/* MEDIA QUERY */
@media all and (min-width:480px) {
  .movie-container {
    flex-basis: calc((100% / 2) - 20px);
  }
}

/* 768px */
@media all and (min-width:768px) {
  .movie-container {
    flex-basis: calc((100% / 3) - 20px );
  }
}

@media all and (min-width:960px) {
  .movie-container {
    flex-basis: calc((100% / 4) - 20px);
  }
}
